<a href="https://colab.research.google.com/github/RamanaMaharaj/Practice/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ('hello world')
name = "Bro"
print (name)
print ('Hello'+name)
print(type(name))
first_name = 'Ram'
last_name = 'prakash'
full_name = first_name+' '+last_name
print (full_name)

hello world
Bro
HelloBro
<class 'str'>
Ram prakash

In [ ]:
#type casting

In [ ]:
#integers
age = 27
age = age+1
age+=1
print ("your age is " +str(age))
#print (type(age))

your age is 29

In [ ]:
#floats
height=20.5
#print(height)
#print(type(height))
print ('your height is ' +str(height))

your height is 20.5

In [ ]:
#boolean
human2=False
print(human2)

False

In [ ]:
#Multiple Assignments - allows us to assign multiple variables at the same time in one line of code
#name = 'Ram'
#age = 38
#print(name)
#print(age)
#name, age, attractive = 'Ram', 38, True
#print(name)
#print(age)
#print(attractive)
a=b=c=1
print(a)
print(b)
print(c)

1
1
1

In [ ]:
#String methods
name = 'Ram'
#print(len(name))
#print(name.find("m"))
#print(name.capitalize())  #capitalized only the first character
#print(name.upper())
#print(name.lower())
#print(name.isdigit())  #to know if there a numeral
#print(name.isalpha())# to know if there is an alphabet
#print(name.count('a'))
print(name.replace('a','o'))
print(name*3)

Rom
RamRamRam

In [ ]:
#typecasting - to convert one data type into another
a=1
b=2.0
c="3"
#print(a)
#print(int(b))
#print(float(c))
b=int(b)
#print(b)
a=str(a)
print('A is', int(b))

A is 2

In [ ]:
#name = input('your name pls')
#print('Hello',name)
#print('Hello ' +name)
age = int(input('your age'))
age=age+1
print('your age is '+str(age))

your age38
your age is 39

In [ ]:
#math
import math
pi=-3.14
x=1
y=2
z=3
#print(round(pi))
#print(math.ceil(pi))
#print(math.floor(pi))
#print(abs(pi))
#print(pow(pi,2))
print(math.sqrt(100))
print(max(x,y,z))
print(min(x,y,z))

10.0
3
1

In [ ]:
#indexing - creating a substring from a bigger string, indexing[] or slide(), [start:stop:step]
name = 'Ram Prakash'
#first_name = name[0:3]
first_name=name[:3]
last_name = name[4:11] #also name[4:]
funky = name[0:11:3] #also name[::2]
#print(first_name)
#print(last_name)
#print(funky)
reverse_name = name[::-1]
print(reverse_name)

hsakarP maR

In [ ]:
#conditional if statements
age=int(input('your age please!'))
if age>=13 and age<=19:
  print ('you are a teenager')
elif age>=18:
  print('an adult')
elif age<0:
  print('not born yet')
else:
  print('you are a boy')

your age please!20
an adult

In [ ]:
#odd or even
x=int(input('enter a number'))
y=x%2
if x==0:
  print('neither odd or even')
elif y>0:
  print ('odd number')
else:
  print('even number')

enter a number750
even number

In [ ]:
#find max and min
a=int(input('enter first number'))
b=int(input('enter second number'))
c=int(input('enter third number'))
print('The biggest number is',max(a,b,c))#likewise for min

enter first number1
enter second number2
enter third number3
The biggest number is 3

In [ ]:
#logical operators
temp=int(input('whats the temperature'))
if temp>=0 and temp<=30:
  print('Go outside')
elif temp<0 or temp>30:
  print('stay inside')
#'not' will flip true to false and vice verse.  syntax like if not(temp>=0 and temp<=30):

whats the temperature40
stay inside

In [ ]:
#while loop

name =""
while name == "":
    name = input('enter your name')
print('Hello ' +name)

enter your nameKutti Dingi
Hello Kutti Dingi

In [ ]:
#while ascending number
i=1
while i<11:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#desceding order in while loop
x=10
while x>0:
  print(x)
  x=x-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
#for loop - limited while is for unlimited

#for i in range(10):
#  print(i+1)
#for i in range (10,20,2):
#  print(i)
for i in 'Prathik':
  print(i)

P
r
a
t
h
i
k

In [ ]:
#multiplication
a=int(input('enter the first number'))
b=int(input('enter the second number'))
c=a*b
print(c)

enter the first number0987654321
enter the second number0123456789
121932631112635269

In [ ]:
#Happy New Year countdown
import time
for seconds in range(10,0,-1):
  print(seconds)
  time.sleep(1)
print('Happy New Year')

10
9
8
7
6
5
4
3
2
1
Happy New Year

In [ ]:
#nested loops
rows=int(input('Enter number of rows: '))
cols=int(input('Enter number of columns: '))
symbol=input('Enter the symbol: ')
for i in range(rows):
  for j in range(cols):
    print(symbol, end="")
  print()
#observation - print() is used a 'Enter' key here

Enter number of rows: 3
Enter number of columns: 4
Enter the symbol: &
&&&&
&&&&
&&&&

In [ ]:
#exercise 1 - To print first 10 natural numbers
for i in range(10):
  print(i+1)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#exercise 2 - to print in patterns
rows=int(input('Enter a number: '))
for i in range(1,rows+1):
  for j in range(1, i+1):
    print(j, end=" ")
  print()

Enter a number: 3
1
1 2
1 2 3

In [ ]:
row = 5
# start: 1
# stop: row+1 (range never include stop number in result)
# step: 1
# run loop 5 times
for i in range(1, row + 1, 1):
    # Run inner loop i+1 times
    for j in range(1, i + 1):
        print(j, end=' ')
    # empty line after each row
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#arithmatic progression
a=int(input('Enter a number: '))
sum=0
for i in range(1,a+1):
  #sum=sum+i
  sum+=i
print(sum)

Enter a number: 10
55

In [ ]:
#multiplication table
a=int(input('Enter a number'))
b=10
for i in range(1, b+1):
  print(i*a)

Enter a number5
5
10
15
20
25
30
35
40
45
50

In [ ]:
#break example

while True:
  name = input('Enter your name')
  if name!= "":
    break

Enter your name
Enter your name
Enter your nameRam

In [ ]:
#Continue example
number ="123-456-789"
for i in number:
  if i == "-":
    continue
  print(i, end="")

123456789

In [ ]:
#Pass
for i in range(1,21):
  if i == 13:
    pass
  else:
    print(i," ",end="")

1  2  3  4  5  6  7  8  9  10  11  12  14  15  16  17  18  19  20

In [ ]:
#print number in reverse from -10 to -1
for i in range(-10,0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
#check if its a prime number
a=int(input("Enter a number"))
for i in range(2,a):
  b=a%i
  if b==0:
    print("No Prime number")
    break
else:
  print("prime number")

Enter a number117
No Prime number

In [ ]:
#lists
food = ["orange","apple","grapes"]
#print(food[0:3:2])
#food[2]="pear"
#print(food)
food.append("pear")
food.remove("pear")
food.insert(3,"pear")
#food.pop()
food.sort()
#food.clear()
food.reverse()
for i in food:
  print(i)

pear
orange
grapes
apple

In [ ]:
#2D lists
breakfast=["idli","dosa","pongal"]
lunch=["biryani","rice","naan"]
desserts=["keer","halwa"]
food=[breakfast,lunch,desserts]
#print(food)
#print(food[0][1])
brunch=[i + j for i,j in zip(breakfast,lunch)]
print(brunch[0][1])

d

In [ ]:
import math
a=int(input('Enter first number'))
#b=int(input('Enter second number'))
print(math.sqrt(a))

Enter first number4
2.0

In [ ]:
a=input('Enter your name')
print(a, "is Mr.Badass")

Enter your nameLeo Das
Leo Das is Mr.Badass